.btn-home, .btn-group-home > .btn {
    padding: 10px 16px;
    font-size: 21px;
    line-height: 3;
    border-radius: 6px;
}

.card-justify-middle {
	padding: 0.375rem 0rem;
}

.clickableRow {
	cursor: pointer;
}

.card table {
	margin-bottom: 0px!important;
	border-radius: 3px!important;
}